* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    background-image: url('https://image.shutterstock.com/z/stock-vector-set-of-playing-rackets-for-ping-pong-icon-744581146.jpg');
}

.container {
    padding: 25px calc((100vw - 960px) / 2);
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.wrapper h1 {
    color: black;
}

.ball {
    padding-top: 20px;
}
